*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
}
.a-ri {
    text-align: right;
}
.fa-ri {
    margin-left: auto;
}

body {
    margin: auto;
    max-width: 800px;
    font-family: verdana, arial, sans-serif, helvetica;
    font-size: 8pt;
}

header {
    color: white;
    background-color: rgb(0, 51, 153);
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
}
header a,
nav a {
    color: white;
    font-weight: normal;
}
header .top .right {
    margin-left: auto;
}
header .top .right a {
    font-weight: bold;
}

header .logo-container {
    padding-top: 1em;
    padding-bottom: 3em;
    text-align: center;
}
header .logo-container img {
    border: solid black 2px;
}

.navbar {
    background-color: rgb(102, 152, 203);
    text-align: center;
    padding: 0.7em;
    color: rgb(28, 6, 58);
}
.navbar a {
    color: white;
}
.navbar a:hover {
    color: #040c5c;
}

main {
    padding: 10px;
}

.mgb {
    display: flex;
}
.mgb section:first-child {
    width: 64%;
}
.mgb .right {
    flex-grow: 1;
    padding-left: 1em;
}
.mgb .login-form {
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    border: solid 1px rgb(0, 51, 153);
    padding: 0.5em;
    text-align: center;
}
.login-form h4 {
    color: rgb(0, 51, 153);
}
.login-form form {
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.ftred {
    border: solid 1px rgb(255, 204, 153);
    margin-bottom: 1em;
}
.ftred .title {
    display: flex;
    font-weight: bold;
    width: 100%;
    padding: 0.5em;
    padding-left: 7px;
    background-color: rgb(255, 204, 153);
}
.ftred .content {
    overflow: auto;
}
.ftred .imgtable {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    padding-top: 0.5em;
}
.ftred .imgtable div {
    display: flex;
    flex-direction: column;
}
.ftred .imgtable div:not(:last-child) {
    margin-right: 3.5em;
}
.ftred .imgtable p {
    text-align: center;
    margin-bottom: 5px;
}
.ftred .imgtable img {
    width: 90px;
}
.ftred .txttable {
    display: flex;
    padding: 0.5em;
}
.ftred .txttable div {
    width: 50%;
}
.ftred.blue {
    border: 0;
    padding: 1px;
}
.ftred.blue .title {
    background-color: rgb(181, 204, 251);
}
